img {
  height: auto;
  width: 400px;
  float: left;
  margin-right: 20px;
}

.centre {
  text-align: center;
}

.left-content {
  float: left;
  margin-right: 40px;
  padding-bottom: 1em;
}

.right {
  padding-bottom: 11em;
}